<h1>Recipe Details</h1>
<button mat-raised-button color="primary" routerLink="/recipe/edit/:id">Edit</button>


<div>
    <br/>
    <div>
        <label>Recipe Name:</label>
        <span>{{recipe.Name}}</span>
    </div>
    <br/>
    <div>
        <label>Recipe Description:</label>
        <span>{{recipe.Description}}</span>
    </div>
    <br/>
    <div>
        <label>Recipe Rating:</label>
        <span>{{recipe.AverageRating}}</span>
    </div>
</div>
<br/>

<button mat-raised-button color="primary" routerLink="/recipe/allRecipes">Back to Recipes</button>