<h1>Liquors</h1>
<a mat-raised-button color="primary">Create New</a>
<hr />

<div>
    <mat-table #table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let liquor;">
                <i class="material-icons">liquor_bottles</i>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let liquor;">{{liquor.Name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Rating">
            <mat-header-cell *matHeaderCellDef>Rating</mat-header-cell>
            <mat-cell *matCellDef="let liquor;">{{liquor.Rating}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let liquor;">
                <i class="material-icons">edit</i>
                <i class="material-irons">delete</i>
            </mat-cell>
        </ng-container>
    </mat-table>
</div>