<h1>Delete Recipe</h1>
<h4>Are you sure you want to delete this recipe?</h4>
<br/>

<div>
    <br/>
    <div>
        <label>Recipe Name:</label>
        <span>{{recipe.Name}}</span>
    </div>
    <br/>
    <div>
        <label>Recipe Description:</label>
        <span>{{recipe.Description}}</span>
    </div>
    <br/>
    <div>
        <label>Recipe Rating:</label>
        <span>{{recipe.AverageRating}}</span>
    </div>

    <button mat-raised-button color="warn" (click)="onDelete()">Yes, Delete</button>
</div>
<br/>

<button mat-raised-button color="primary" routerLink="/recipe/allRecipes">Back to Recipes</button>