<p>Edit Recipe</p>
<br />

<form (ngSubmit)="onSubmit()" [formGroup]="editForm">
    <div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Recipe Name" formControlName="Name" type="Name" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Description" formControlName="Description" type="Description" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Average Rating" formControlName="AverageRating" type="AverageRating" required />
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Submit Edit</button>
</form>

<a mat-button routerLink="/recipe/allRecipes">Back to List</a>